//variables
$body-color: #7825a8;
$panel-color: #59018c;

.page-content{
    background-color: $body-color;
}

.panel{
    background-color: $panel-color;
}

/*-------------------------Navigation Menu-------------------------*/
#profile_tab{
    background-image: url(images/profile.png);
}

#calendar_view{
    background-image: url(images/calendar.png);
    background-size: 119% 108%;
}

#chores_view{
    background-image: url(images/checklist.png);
}

#chat_view{
    background-image: url(images/chat.png);
}

#sync_feature{
    background-image: url(images/sync.jpg);
}

.navigation{
    border: 1px solid black;
    border-radius: 50%;
    height: 19%;
    width: 100%;
    margin: 5px 0px 5px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*-------------------------Chat page-------------------------*/
#chatContainer{
    border: 1px solid black;
}

#messageContainer{
    border: 3px dashed red;
}
