//variables
$body-color: #7825a8;
$panel-color: #59018c;
$textArea-color: #934bb3;
$stickyColor: #FFFF88;

.page-content{
    background-color: $body-color;
}

.panel{
    background-color: $panel-color;
}

/*-------------------------Navigation Menu-------------------------*/
#profile_tab{
    background-image: url(images/profile.png);
}

#calendar_view{
    background-image: url(images/calendar.png);
    background-size: 119% 108%;
}

#chores_view{
    background-image: url(images/checklist.png);
}

#chat_view{
    background-image: url(images/chat.png);
}

#sync_feature{
    background-image: url(images/sync.jpg);
}

.navigation{
    border: 1px solid black;
    border-radius: 50%;
    height: 19%;
    width: 100%;
    margin: 5px 0px 5px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*------------------------Chores page-------------------------*/
#choresDiv{
    overflow-y: scroll;
}

#menuContainer{
    border: 1px solid black;
}

#menuContent{
    display: inline;
}

#choresTitle{
    text-align: center;
}

.stickyNotes{
    background-color: $stickyColor;
    opacity: 100%;
    width: 250px;
    height: 250px;
    display: inline;
}

.stickyNotes h3{
    text-align: center;
}

/*-------------------------Chat page-------------------------*/
#chatContainer{
    border: 1px solid black;
    border-radius: 10px;
}

#allMessages{
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#allMessages::-webkit-scrollbar{
    width: 12px;
}

#allMessages::-webkit-scrollbar-track{
    background: $panel-color;
    border-radius: 5px;
    border: 2px solid black;
}

#allMessages::-webkit-scrollbar-thumb{
    background: $body-color;
    border-radius: 5px;
    border: 1px solid black;
}

#messageContainer{
    border: 1.5px solid black;
    border-radius: 10px;
}

#typingArea{
    background-color: $textArea-color;
    resize: none;
    overflow-y: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#typingArea:focus{
    outline: none;
}

#sendButton{
    height: 50px;
    width: 80px;
    margin-top: 50px;
    margin-right: 25px;
    border-radius: 10px;
}

.messageBubble{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    opacity: 25%;
    max-width: 100%;
    display: table;
}

.leftBubble{
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.rightBubble{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
