{% extends "familyApp/layout.html" %}
{% load static %}

{% block body %}

    <div id="messageForm" class="flex" style="display: none;">
        <div>
            <form id="mForm">
                {% csrf_token %}
                {{ messageForm.as_p }}
            </form>
        </div>
        <div id="sendButtonContainer">
            <button id="sendButton" form="mForm" class="btn-lg" type="submit">Send</button>
        </div>
    </div>

    <div data-content="profile">

    </div>

    <div data-content="calendar">
        <p> This is where the calendar will be going. Users will be able to toggle between month/day/week views, cycle through
        month/week/days using arrow keys, etc....</p>
    </div>

    <div data-content="chores">

    </div>

    <div data-content="chat" class="container-fluid vh-100">

    </div>
{% endblock %}

{% block sidebar %}
    <p>This is where the upcoming events notification bar will be going. Users will be able to see a chronologically ordered list
        of their upcoming events, and there will be an infinite scrollbar</p>
{% endblock %}
