{% load static %}

<!DOCTYPE html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'familyApp/style.css' %}" rel="stylesheet">
    <script src="static/familyApp/script.js"></script>
</head>
<html>
    <body>
        <div class="container-fluid vh-100">
            <div class="row vh-100">
                <div class="col-2 panel nav-bar">
                    <div class="navigation" id="profile_tab">
                    </div>
                    <div class="navigation" id="calendar_view">
                    </div>
                    <div class="navigation" id="chores_view">
                    </div>
                    <div class="navigation" id="chat_view">
                    </div>
                    <div class="navigation" id="sync_feature">
                    </div>
                </div>
                <div class="col-8 page-content">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="col-2 panel sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
